Babel==2.7.0
Django==2.0.2
django-phonenumber-field==3.0.1
django-rest-auth==0.9.5
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
phonenumbers==8.10.16
Pillow==9.0.0
psycopg2==2.8.2
PyJWT==1.7.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
